/* MARK: ESTILOS PADRAO */

:root {
  --azul-claro: #09c7ed;
  --azul-escuro: #006376;
  --cinza: #111111;
  --preto: #000;
  --background-color: #000;
  --branco: #fff;
  --font-family: 'Poppins', sans-serif;
  --font-size-base: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size-base); 
  }

  body {
      font-family: var(--font-family);
      color: var(--branco);
      background-color: var(--preto);
    }


  h1 {
      color: var(--branco);
      line-height: 1.2;
      font-size: 2.5rem;
      font-weight: 900;
  }
  
  h2 {
      color: var(--branco);
      line-height: 1;
      font-size: 2rem;
      font-weight: 500;
    }
    
    p {
      color: var(--branco);
      font-size: 1rem;
      line-height: 1;
      font-weight: 300;
    
    }

    span {
      color: var(--azul-claro);
      line-height: 1;
      font-size: 2.5rem;
      font-weight: 900;
      display: block;

    }
    
    .btn {
      margin: 0.5rem;
      width: 10rem;
      padding: 0.8rem 1.5rem;
      background: linear-gradient(to right, var(--azul-claro), var(--azul-escuro));
      color: var(--branco);
      font-size: 1rem;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s ease-in-out; 
      
    }
    
    .btn:hover {
      transform: scale(1.1); 
      background: linear-gradient(to left, var(--azul-claro), var(--azul-escuro));
    }

    /* MARK: FIM DOS ESTILOS PADRAO */

    header {
      background: linear-gradient(to right, var(--azul-claro), var(--azul-escuro));
      padding: 1rem;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
    
    .seguro, i {
      display: flex;
      align-items: center;
      font-weight: 500;
    }

    .cta {
      position: relative; /* Necessário para posicionar a imagem de fundo */
      min-height: 100vh; /* Garante que ocupe toda a altura da viewport */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; 
    }

    .cta::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('imagens/background.webp'); 
      background-size: cover;
      background-position: center;
      opacity: 0.2; /* Define a opacidade da imagem de fundo */
      z-index: -1; 
    }


    .headline, .sub-headline {
      display: flex;
      padding: 0.5rem;
      
    }

    .sub-headline p {
      width: 700px;
    }

    .video {
      width: 100%;
      max-width: 720px;
      margin: 1rem auto;
      
    }
    
    .video-embed iframe {
      width: 100%;
      height: 450px;
      border: 2px solid var(--azul-claro);
      border-radius: 8px;
      
    }
    
    .video-thumbnail {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 1rem; /* Mesma borda arredondada do vídeo */
    }
    
    .video-thumbnail img {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 0 0 2px var(--azul-claro), /* Borda interna */
                    0 0 10px 5px rgba(0, 199, 237, 0.5); /* Sombra externa neon */
    animation: neon-glow 2s alternate infinite ease-in-out;
    }

    @keyframes neon-glow {
      from {
        box-shadow: 0 0 5px 2px var(--azul-escuro);
      }
      to {
        box-shadow: 0 0 20px 10px var(--azul-claro);
      }
    }
    
    .play-button {
      position: absolute;
      font-size: 3rem;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
    }
    
    .play-button:hover {
      transform: scale(1.1); 
      background: var(--azul-escuro);
    }
    